@keyframes show_settings {
	0%{
		left: -50px;
		opacity: 0;
	}
	50%{
		opacity: .3;
	}
	100%{
		opacity: 1;
		left: 0px;
	}
}
@keyframes close_settings {
	0%{
		opacity: 1;
		left: 0px;
	}
	50%{
		opacity: .3;
	}
	100%{
		opacity: 0;
		left: -50px;
	}
}

@keyframes closing_settings_button {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(180deg);
	}
}
@keyframes open_settings_button {
	0%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@keyframes show_popup {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes close_popup {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes remove {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.5);
	}
}
@keyframes opacity_low {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes opacity_up {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes from_up {
	0%{
		transform: translateY(-100vh);
	}
	100%{
		transform: translateY(0);
	}
}@keyframes to_up {
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-100vh);
	}
}
@keyframes running_span {
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes pdf_show {
	0%{
		opacity: 0;
		transform: translateY(-100%);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes pdf_remove {
	0%{
		opacity: 1;
		transform: translateY(0);
	}
	100%{
		opacity: 0;
		transform: translateY(-100%);
	}
}